<% if user_signed_in? %>
<li> Logged-in as: <%= current_user.username.capitalize %> </li>
<li> <%= link_to "Log Out", destroy_user_session_path, method: :delete %> </li>
<li> <%= link_to "Edit Account", edit_user_registration_path %></li>
<li> <%= link_to "My Cart", cart_show_path %> (<%= current_user.cart.items.count %>)</li>
<li> <%= link_to "My Orders", order_show_path %></li>

<% else %> 
<li> <%= link_to "Log In", new_user_session_path %> </li>
<li> <%= link_to "Create Account", new_user_registration_path %> </li>

<% end %>


<% @cats.each do |cat| %>
    <%= image_tag cat.image_url, size: "300" %>
    <br>
    Name: <%= cat.title %>
    <br>
    Price <%= cat.price %>$
        <br>
    <%= link_to "More Details".html_safe, home_path(cat) %>
    <% if signed_in? %>
        <%= link_to "Add to Cart", cart_new_path(:cat_id => cat.id) %>
    <% end %>
        <br><br>
<% end %>

