<% if user_signed_in? && current_user.admin? %>

    <li> Logged-in as: <%= current_user.username.capitalize %> </li>
    <li><%= link_to "Admin Page", admin_index_path %></li>
    <li> <%= link_to "Log Out", destroy_user_session_path, method: :delete %> </li>

<% elsif user_signed_in? %>

    <li> Logged-in as: <%= current_user.username.capitalize %> </li>
    <li> <%= link_to "Log Out", destroy_user_session_path, method: :delete %> </li>
    <li> <%= link_to "Edit Account", edit_user_registration_path %></li>
    <li> <%= link_to "My Cart", cart_index_path %> (<%= current_user.cart.items.count %>)</li>
    <li> <%= link_to "My Orders", order_index_path %></li>

    <% @cats.each do |cat| %>
        <%= image_tag cat.image_url, size: "300" %>
        <br>
        Name: <%= cat.title %>
        <br>
        Price <%= cat.price %>$
            <br>
        <%= link_to "More Details".html_safe, home_path(cat) %>
        <%= link_to "Add to Cart", cart_index_path(:cat_id => cat.id), method: :create %>
            <br><br>
    <% end %>

<% else %> 

    <li> <%= link_to "Log In", new_user_session_path %> </li>
    <li> <%= link_to "Create Account", new_user_registration_path %> </li>

    <% @cats.each do |cat| %>
        <%= image_tag cat.image_url, size: "300" %>
        <br>
        Name: <%= cat.title %>
        <br>
        Price <%= cat.price %>$
            <br>
        <%= link_to "More Details".html_safe, home_path(cat) %>
            <br><br>
    <% end %>

<% end %>



